<h2 class="headline">
  <div *ngIf="loading; else elseBlock">Lade Kunden...</div>
  <ng-template #elseBlock>Kunden</ng-template>
  <div *ngIf="error">{{ error }}</div>
</h2>

<div class="customers-wrapper">
  <div class="customer-card" *ngFor="let customer of customers" tabindex="0">
    <span class="customer-entry">Kunden-ID: {{ customer.customer_id }}</span><br>
    <span class="customer-entry">Rechnungsadresse ID: {{ customer.billing_address_id }}</span><br>
    <span class="customer-entry">Lieferadresse ID: {{ customer.shipping_address_id }}</span>
    <button class="edit-button" (click)="goToEditCustomer(customer); $event.stopPropagation()">Kunde bearbeiten</button>
  </div>
</div>
