<nav>
  <!-- Für alle sichtbar -->
  <a routerLink="/products">Products</a>
  <a routerLink="/contact">Contact</a>

  <!-- Nicht eingeloggt -->
  <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
  <a *ngIf="!isLoggedIn" routerLink="/registration">Registrieren</a>


  <!-- Kunde -->
  <a *ngIf="isLoggedIn && isCustomer" routerLink="/cart">Cart</a>
  <a *ngIf="isLoggedIn && isCustomer" routerLink="/customer-dashboard">My Account</a>
  <a *ngIf="isLoggedIn && isCustomer" routerLink="/customer-orders">My Orders</a>
  <a *ngIf="isLoggedIn && isCustomer" (click)="logout()">Logout</a>
  

  <!-- Mitarbeiter -->
  <a *ngIf="isLoggedIn && isEmployee" routerLink="/employee-dashboard">Dashboard</a>
  <a *ngIf="isLoggedIn && isEmployee" routerLink="/products-admin">Manage Products</a>
  <a *ngIf="isLoggedIn && isEmployee" routerLink="/orders-admin">Manage Orders</a>
  <a *ngIf="isLoggedIn && isEmployee" routerLink="/customers-admin">Manage Customers</a>
  <a *ngIf="isLoggedIn && isEmployee" (click)="logout()">Logout</a>
</nav>
