<nav>
  <!-- Für alle sichtbar -->
  <a routerLink="/products">Produkte</a>
  <a routerLink="/contact">Kontakt</a>

  <!-- Nicht eingeloggt -->
  <a *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Login</a>
  <!--  <a *ngIf="!isLoggedIn" routerLink="/registration">Registrieren</a>  -->


  <!-- Kunde -->
  <ng-container *ngIf="(isLoggedIn$ | async) && (isCustomer$ | async)">
    <a routerLink="/cart">Warenkorb</a>
    <a routerLink="/profile">Mein Account</a>
    <a routerLink="/customer-orders">Meine Bestellungen</a>
    <a (click)="logout()">Logout</a>
  </ng-container>

<!-- a *ngIf="isLoggedIn && isCustomer" routerLink="/cart">Warenkorb</a>
 // <a *ngIf="isLoggedIn && isCustomer" routerLink="/profile">Profil</a>
 // <a *ngIf="isLoggedIn && isCustomer" routerLink="/customer-orders">Bestellungen</a> -->

  <!-- Mitarbeiter -->
  <ng-container *ngIf="(isLoggedIn$ | async) && (isEmployee$ | async)">
    <a routerLink="/employee-dashboard">Dashboard</a>
    <a routerLink="/products-admin">Manage Products</a>
    <a routerLink="/orders-admin">Manage Orders</a>
    <a routerLink="/customers-admin">Manage Customers</a>
    <a (click)="logout()">Logout</a>
  </ng-container>
</nav>