<h2>Login</h2>
<form>
  <label for="email">E-Mail:</label>
  <input id="login-email" type="email" name="email"><br><br>
  <label for="password">Passwort:</label>
  <input id="login-password" type="password" name="password"><br><br>
  <button type="submit">Login</button>
</form>

<p>Noch kein Account vorhanden?</p>

<h2>Kundenaccount anlegen</h2>
<form>
  <label for="email">E-Mail:</label>
  <input id="register-email" type="email" name="email"><br><br>
  <label for="password">Passwort:</label>
  <input id="register-password" type="password" name="password"><br><br>
  <button type="submit">Account erstellen</button>
</form>

